{% extends 'base.html.twig' %}

{% block title %}MotsClesArticles index{% endblock %}

{% block body %}
    <h1>MotsClesArticles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mots_cles_article in mots_cles_articles %}
            <tr>
                <td>
                    <a href="{{ path('mots_cles_articles_show', {'mots_cles': mots_cles_article.mots_cles}) }}">show</a>
                    <a href="{{ path('mots_cles_articles_edit', {'mots_cles': mots_cles_article.mots_cles}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="1">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mots_cles_articles_new') }}">Create new</a>
{% endblock %}
