<form method="post" action="{{ path('categories_articles_delete', {'categories': categories_article.categories}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categories_article.categories) }}">
    <button class="btn">Delete</button>
</form>
