{% extends 'base.html.twig' %}

{% block title %}Edit CategoriesArticles{% endblock %}

{% block body %}
    <h1>Edit CategoriesArticles</h1>

    {{ include('categories_articles/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categories_articles_index') }}">back to list</a>

    {{ include('categories_articles/_delete_form.html.twig') }}
{% endblock %}
