{% extends 'base.html.twig' %}

{% block title %}CategoriesArticles index{% endblock %}

{% block body %}
    <h1>CategoriesArticles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categories_article in categories_articles %}
            <tr>
                <td>
                    <a href="{{ path('categories_articles_show', {'categories': categories_article.categories}) }}">show</a>
                    <a href="{{ path('categories_articles_edit', {'categories': categories_article.categories}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="1">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categories_articles_new') }}">Create new</a>
{% endblock %}
