{% extends 'base.html.twig' %}

{% block title %}New CategoriesArticles{% endblock %}

{% block body %}
    <h1>Create new CategoriesArticles</h1>

    {{ include('categories_articles/_form.html.twig') }}

    <a href="{{ path('categories_articles_index') }}">back to list</a>
{% endblock %}
