{% extends 'base.html.twig' %}

{% block title %}Edit Articles{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <div>
            <h1>Edit Articles</h1>
        </div>
        <div class="clearfix">
            {{ include('articles/_delete_form.html.twig') }}
        </div>
    </div>
    {{ include('articles/_form.html.twig', {'button_label': 'Update'}) }}
    
    <a href="{{ path('articles_index') }}">back to list</a>

    
{% endblock %}
