{% extends 'base.html.twig' %}

{% block title %}Contact (mais je ne reçois rien, je crois qu'il faut redefinir le .env... Nassim à l'aide!!!!!{% endblock %}

{% block body %}
{{form(contactForm)}}
{# <h1>Nouveau contact</h1>
<p>Nom : {{contact.nom}}</p>
<p>e-mail : {{contact.email}}</p>
<p>Message : {{contact.message|raw}}</p> #}
{% endblock %}
